.landing {
  height: 100vh;
  overflow: scroll;
  max-width: 1200px;
  margin: 0 auto;
}

.profile-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.link {
  color: black;
  text-decoration: none;
}